<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHgg0n4nZqKlnK_dUQlLGaeqREi0VwQu8</string>
	<key>GCM_SENDER_ID</key>
	<string>1085165901528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grootlyApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>grootly-app</string>
	<key>STORAGE_BUCKET</key>
	<string>grootly-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085165901528:ios:f68e4d667e3e328c3929ad</string>
</dict>
</plist>